<!DOCTYPE html>

<html lang="fr">
    <%- include('/head.ejs') %> 
    
    <body>
        <%- include('/header.ejs') %>

        <script src="js/adoption.js" defer></script>
        <script id="adoption-data" type='application/json'><%- JSON.stringify(adoptionData) %></script>

        <section class="accueil page-adoption-top">
            <div class="page-adoption-top-text">
                <h1 class="title">Adopter le compagnon
                <span class="title-slider">
                    <span class="slider">
                        <span class="slider-word">idéal</span>
                        <span class="slider-word">de vos rêves</span>
                        <span class="slider-word">qui changera votre vie</span>
                        <span class="slider-word">fait pour vous</span>
                        <span class="slider-word">qui remplira votre coeur</span>
                        <span class="slider-word">aussi unique que vous</span>
                        <span class="slider-word">qui vous attend</span>
                    </span>
                </span>
                </h1>
                    <hr class="page-adoption-separator">
        </section>

        <!-- Titre de la liste d'adoption -->

        <section class="page-adoption-list">
            <span class="page-adoption-list-text checkVisibility">
                <h2 class="subtitle">En attente d'adoption</h2>
                <p class="text" id="text-adoption-list">Si vous souhaitez en savoir plus à propos d’un chat, cliquez sur sa photo</p>
            </span>

            <!-- Bouton de filtres en haut de la liste d'adoption -->
            <!-- Listage par "Tous", "Chatons" ou "Adultes"-->

            <div class="action-buttons">
                <div class="filter-buttons" role="group" aria-label="Filtrer par âge">
                    <button id="filterAllButton" class="filter-button filter-active">Tous</button>
                    <button id="filterAdultesButton" class="filter-button">Adultes</button>
                    <button id="filterChatonsButton" class="filter-button">Chatons</button>
                </div>
            </div>

            <!-- Vue grille de tous les chats a l'adoption -->
            
            <div class="page-adoption-grille" id="adoptionGrid"> </div>

            <!-- Vue detaille des chats lors d'un clic sur une card -->
            <section id="detailView" class="detail-view hidden" aria-labelledby="detailName" role="region">
                <button id="backButton" class="back-button" aria-label="Retour à la liste">
                    <img src="assets/icones/icon-arrow-2.svg" alt="Retour">
                </button>
                <article class="detail-card">
                    <img id="detailImage" src="" alt="Photo détaillée du chat" class="detail-image">
                    <div class="detail-text-content">
                        <img id="detailGenderIcon" src="" alt="Genre" class="detail-gender-icon">
                        <h2 id="detailName" class="detail-name">Nom du Chat</h2>
                        <span id="detailAge" class="detail-age">Âge</span>
                        <p id="detailQuote" class="detail-quote">"Citation"</p>
                        <div id="detailDescription" class="detail-description">
                        </div>
                    </div>
                </article>
                <div class="carousel">
                    <div class="carousel-photos-container" id="carouselPhotosContainer">
                    </div>
                    <div class="carousel-buttons-container" id="carouselButtonsContainer">
                    </div>
                </div>
            </section>

            <nav role="nav-pagination" aria-label="Pagination des adoptions" id="pagination-section">
                <ul class="pagination">
                    <button id="prevButton" aria-label="Page précédente"><img src="assets/icones/icon-arrow-2.svg"></button>
                    <button id="nextButton" aria-label="Page suivante"><img src="assets/icones/icon-arrow-2.svg"></button>
                </ul>
                </nav>
        </section>

        <%- include('/footer.ejs') %>
        
    </body>
</html>