<!DOCTYPE html>

<html lang="fr">
    <%- include('/head.ejs') %> 
    
    <body>
        <%- include('/header.ejs') %>

        <section class="accueil-contact">
            <div class="accueil-text">
                <h1 class="title">NOUS CONTACTER</h1>
                <hr class="separator">
                <p class="text">Nous vous offrons plusieurs moyens de nous joindre. <br> Afin que nous puissions aider un maximum de personnes de manière efficace, nous vous serions reconnaissants de suivre ces différentes options par ordre de priorité croissante.</p>
            <p class="highlight">Votre collaboration nous est précieuse !</p>
            </div>
        </section>

        <%- include('/footer.ejs') %>
    </body>
    
</html>