<!DOCTYPE html>

<html lang="fr">
    <%- include('/head.ejs') %> 
    
    <body>
        <%- include('/header.ejs') %>

        <section class="accueil nous-aider">
            <div class="accueil-text">
                <h1 class="title">COMMENT NOUS AIDER ?</h1>
                <hr class="separator">
                <p class="text">La seule volonté ne suffit pas à faire vivre une association ; nous avons besoin de la contribution de chacun d’entre vous.</p>
                <p class="text">Si vous désirez apporter une aide directe aux chats errants, nous pouvons vous mettre en contact avec les personnes qui les nourrissent.</p>
                <div class="action-buttons accueil-buttons">
                    <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.helloasso.com%2Fassociations%2Fassociation-les-chats-de-loyasse%2Fadhesions%2Fadhesion-les-chats-de-loyasse&sa=D&sntz=1&usg=AOvVaw0lGMFqls0VS19YoFy2FcKp"  target="_blank"><button class="action-button accueil-button"><img src="./assets/icones/mains-coeur.png">Adherer</button></a>
                    <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.helloasso.com%2Fassociations%2Fassociation-les-chats-de-loyasse%2Fformulaires%2F7&sa=D&sntz=1&usg=AOvVaw3pEcGLYBDnmaPKAEy1qofB"  target="_blank"><button class="action-button accueil-button"><img src="./assets/icones/piece-coeur.png">Donner</button></a>
                    <a href="adopter.html"><button class="action-button accueil-button"><img src="./assets/icones/coeur-chat.png">Adopter</button></a>
                </div>
            </div>
            </div>
        </section>

        <!-- details des actions-->

        <section class="section-aider">
            <div class="aider">
                <h2 class="subtitle">AIDER LES CHATS ERRANTS</h2>
                <div class="list-aide">
                    <div class="help-item item-top-left">
                        <div class="help-text-block">
                            <h3 class="help-title">Don de votre temps</h3>
                            <p class="help-description">(vous pourriez nourrir les chats errants en fonction de votre disponibilité)</p>
                        </div>
                        <img src="./assets/icones/don-temps.png" alt="" class="help-icon">
                    </div>
            
                    <img src="./assets/icones/chat-vector.png" alt="Illustration d'un chat" class="central-cat-image">
            
                    <div class="help-item item-top-right">
                        <img src="./assets/icones/mains-coeur.png" alt="" class="help-icon">
                        <div class="help-text-block">
                            <h3 class="help-title">Adhésion</h3>
                            <p class="help-description">(L'adhésion annuelle à l'association s'élève à 15 €, soit 1,25 € par mois.)</p>
                        </div>
                    </div>
            
                    <div class="help-item item-bottom-left">
                        <div class="help-text-block">
                            <h3 class="help-title">Don en nature</h3>
                            <p class="help-description">(des croquettes, des boîtes humides, des petites couvertures, des planches...)</p>
                        </div>
                        <img src="./assets/icones/don-poisson.png" alt="" class="help-icon">
                    </div>
            
                    <div class="help-item item-bottom-right">
                        <img src="./assets/icones/dollar-boite.png" alt="" class="help-icon">
                        <div class="help-text-block">
                            <h3 class="help-title">Don financier</h3>
                            <p class="help-description">(participer aux frais de stérilisations, aux soins vétérinaires et autres dépenses...)</p>
                        </div>
                    </div>
                </div>
            
                <p class="text-fin">
                    N'hésitez pas à agir selon vos possibilités, quand vous pouvez et de la manière qui vous convient avec ce que vous avez sous la main. Chaque geste compte, même le plus modeste. Ensemble, nous pouvons faire une grande différence pour nos amis !
                </p>
            </div>
        </section>

        <section class="wishlist-section">
            <div class="wishlist-content-wrapper">
                <h2 class="subtitle">WISH-LIST</h2>
                <p class="text">
                    La générosité de chacun fait toute la différence pour nos amis félins. Si vous souhaitez apporter votre soutien de manière pratique et ciblée, découvrez notre wish-list régulièrement mise à jour avec les besoins actuels de nos petits protégés.
                </p>
                <div class="wishlist-steps-list">
                    <img src="./assets/icones/step-wishlist.png">
                    <div class="wishlist-steps">
                        <div class="step">
                            <p>Rendez-vous sur notre Wish-List en cliquant ou en flashant le QR code</p>
                        </div>
                        <div class="step">
                            <p>Faites votre choix parmi les articles</p>
                        </div>
                        <div class="step">
                            <p>Au moment de la livraison, choisissez l'adresse "Association Les chats de la loyasse - [Adresse Cadeau]"</p>
                        </div>
                        <div class="step">
                            <p>Finalisez votre commande en validant la livraison</p>
                        </div>
                    </div>
                </div>
        
                <div class="wishlist-visuals">
                    <div class="qr-code-area">
                    <a href="https://www.amazon.fr/hz/wishlist/ls/2ANI1FI5B7MJ6"><img src="./assets/images/qr-code.png" alt="QR Code Wishlist"></a>
                    </div>
                    <div class="overlay-text-box">
                        <p>Votre geste, aussi modeste soit-il, contribue énormément à améliorer la vie de nos amis à quatre pattes. Merci de tout cœur pour votre précieux soutien !</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-don-adhesion">
            <p class="subtitle">FAIRE UN DON OU ADHERER</p>
            <div class="don-adhesion"> 
                <div class="methode-paiement">
                    <div class="colonnes-paiement">
                        <div class="colonne-paiement paiement-internet">
                            <p class="section-title">PAR INTERNET</p>
                            <p class="text">Sur la plateforme de paiement 100% sécurisée HelloAsso</p>
                            <button class="action-button accueil-button"><img src="./assets/icones/mains-coeur.png">Adherer</button>
                            <button class="action-button accueil-button"><img src="./assets/icones/piece-coeur.png">Donner</button>
                            <p class="text note">Note : HelloAsso prend un pourboire pour son fonctionnement. Vous avez la possibilité de le modifier ou le supprimer dans le récapitulatif.</p>
                        </div>
                        <div class="colonne-paiement paiement-cheque">
                            <p class="section-title">PAR CHÈQUE</p>
                            <div class="cheque-details">
                                <p class="text">À l'ordre de:</p>
                                <p class="text info"><strong>Association Les Chats de Loyasse</strong></p>
                                <p class="text">Et à faire parvenir à l'adresse:</p>
                                    <p class="text info"><strong>3, rue Cardinal Gerlier<br>
                                    69005 LYON</strong></p>
                            </div>
                            <p class="text note">Note : Lors de l’envoi de votre chèque, veuillez indiquer si celui-ci constitue un don ponctuel ou une adhésion à l’Association Les Chats de Loyasse. Si vous adhérez à notre association, n’oubliez pas de mentionner votre nom complet et votre adresse. Cela nous permettra de vous envoyer votre carte de membre</p>
                        </div>
                    </div>
                </div>
                <p class="text-fin">
                    Votre soutien est précieux et nous vous en remercions chat'leureusement
                </p>
            </div>
    </section>

    <!-- Partie contact -->
        <div class="footer">
            <div class="footer-content">
            <img src="./assets/logo/logo-footer.png" alt="Logo Association">
                <section class="contact">
                    <div class="contact-link"><img src="./assets/icones/address.png"><p>3, rue Cardinal Gerlier, 69005 LYON</p></div>
                    <div class="contact-link"><img src="./assets/icones/phone.png"><p>06 77 61 45 11</p></div>
                    <div class="contact-link"><img src="./assets/icones/mail.png"><p>chats.loyasse@gmail.com</p></div>
                    <div class="contact-link">
                        <div class="socials">
                            <a href="https://www.facebook.com/p/Association-Les-Chats-de-Loyasse-100064752067295/?locale=fr_FR"  target="_blank"><img src="./assets/icones/facebook.png"></a>
                            <a href="https://www.instagram.com/leschatsdeloyasse/"  target="_blank"><img src="./assets/icones/instagram.png"></a>
                        </div>
                </section>
            </div>
            <a href="https://www.journal-officiel.gouv.fr/pages/associations-detail-annonce/?q.id=id:201700211063"  target="_blank">Statut legal</a>
        </div>

        <%- include('/footer.ejs') %>
    </body>
</html>