<head>
    <link rel="stylesheet" href="<%= getRelativePath('styles/index.css'); %>">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les Chats de Loyasse</title>
    <script src="<%= getRelativePath('js/mobile.js') %>" defer></script>
    <script id="relative-root" type='text/plain'><%- relativeRoot %></script>
    </script>
</head>