<!DOCTYPE html>

<html lang="fr">
    <%- include('/head.ejs') %> 
    
    <body>
        <%- include('/header.ejs') %>

        <script src="../js/actions.js" defer></script>
        <script id="action-data" type='application/json'><%- JSON.stringify(archivedActions) %></script>

        <!-- Haut de page -->
        <section class="accueil archives">
            <div class="accueil-text">
                <h1 class="title">NOS ACTIONS PASSÉES</h1>
                <hr class="separator">
                <p class="text"><strong>Retrouvez ici les actions passées concernant Les Chats de la Loyasse</strong></p>
                <p class="text">Pour retrouvez nos actualités, contenant la liste de nos actions récentes ainsi que nos actions à venir, rendez-vous dans <a href="actualités.html">nos actions récentes</a></p>
            </div>
        </section>

        <!-- details des actions-->
        <section class="section-actions">
            <div class="liste-actions" id="liste-actions">
            </div>

            <nav role="nav-pagination" aria-label="Pagination des adoptions" id="pagination-section">
                <ul class="pagination">
                <button id="prevButton" aria-label="Page précédente"><img src="../assets/icones/icon-arrow-2.svg"></button>
                <button id="nextButton" aria-label="Page suivante"><img src="../assets/icones/icon-arrow-2.svg"></button>
                </ul>
            </nav>
        </section>

        <%- include('/footer.ejs') %>
    </body>
</html>